@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
}

/* reusable classes */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.spread {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.data-icon {
	font-size: 30px !important;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;
}

/* Alert overrides */
.Toastify__toast-body > div:last-child {
	font-family: 'Quicksand', sans-serif !important;
	font-size: 0.85rem !important;
}

.Toastify__progress-bar-theme--colored {
	background-color: #fff !important;
}

.Toastify__progress-bar {
	height: 3px !important;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
	background-color: #d17000 !important;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
	background-color: rgb(14, 62, 206) !important;
}
